/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
*/

body{
    background-color: theme('colors.gray.50');
}
h1, h2, h3{ font-family: 'Ubuntu', sans-serif; }
h4, h5, h6, p, a, span{ font-family: 'Ubuntu', sans-serif; }
.image-1{
    background: url('/mountains.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bg-dark{ background: #171D20; }
.text-lightblue{ color: #179fb0; }
.hover\:text-lightblue:hover{ color: #179fb0; }
nav a.active li p{ color: #179fb0; }
.resume_item{
    border-left: 2px solid #06abbf;
    position: relative;
}
.resume_item::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 999px;
    border: 2px solid #06abbf;
    background: theme('colors.gray.50');
    top: 0;
    left: -9px;
}

@media (min-width: 1280px){
    .calc-width-18{
        /* 18rem */
        width: calc(100vw - 18rem);
    }
}

/* WIDTH */
.width-100{max-width: 100%;}
.width-90{max-width: 90%;}
.width-80{max-width: 80%;}
.width-70{max-width: 70%;}
.bar{
    animation: load 2.5s;
}

@keyframes load{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}